pipeline/IntegrationTestInitializer.json
{
	"name": "IntegrationTestInitializer",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_DelimitedDataSource_Folder_Blob",
						"type": "DatasetReference",
						"parameters": {
							"fileSystem": {
								"value": "@pipeline().parameters.fileSystemName",
								"type": "Expression"
							},
							"folderPath": {
								"value": "@pipeline().parameters.sourceFolderPath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy to ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(pipeline().parameters.sourceFolderPath,'/',item().name)",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_DelimitedDataSource_Folder_Blob",
									"type": "DatasetReference",
									"parameters": {
										"fileSystem": {
											"value": "@pipeline().parameters.fileSystemName",
											"type": "Expression"
										},
										"folderPath": {
											"value": "@concat(pipeline().parameters.sourceFolderPath,'/',item().name)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_DelimitedDataSource_Folder_Blob",
									"type": "DatasetReference",
									"parameters": {
										"fileSystem": {
											"value": "@pipeline().parameters.fileSystemName",
											"type": "Expression"
										},
										"folderPath": {
											"value": "@concat(pipeline().parameters.DestinationFolderPath,'/',item().name)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy to File Share",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(pipeline().parameters.sourceFolderPath,'/',item().name)",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "FileServerWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_DelimitedDataSource_Folder_Blob",
									"type": "DatasetReference",
									"parameters": {
										"fileSystem": {
											"value": "@pipeline().parameters.fileSystemName",
											"type": "Expression"
										},
										"folderPath": {
											"value": "@concat(pipeline().parameters.sourceFolderPath,'/',item().name)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_DelimitedDataSource_Folder_FS",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@concat(pipeline().parameters.DestinationFolderPath,'/',item().name,'/New')",
											"type": "Expression"
										},
										"srcHostName": {
											"value": "@pipeline().parameters.fileShareName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"fileSystemName": {
				"type": "string",
				"defaultValue": "power-bi-blob"
			},
			"fileShareName": {
				"type": "string",
				"defaultValue": "\\\\cdcfs1"
			},
			"sourceFolderPath": {
				"type": "string",
				"defaultValue": "test_files"
			},
			"DestinationFolderPath": {
				"type": "string",
				"defaultValue": "Azure_Data_Factory/Test"
			}
		},
		"folder": {
			"name": "Util/Test"
		},
		"annotations": []
	}
}