pipeline/RetrieveFiles.json
{
	"name": "RetrieveFiles",
	"properties": {
		"description": "Move files from one folder to another folder",
		"activities": [
			{
				"name": "GetFolderList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_DelimitedDataSource_Folder_FS",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@pipeline().parameters.SourceStore_Location",
								"type": "Expression"
							},
							"srcHostName": {
								"value": "@pipeline().parameters.fileShareName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFolders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFolders').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "CopyAFile",
							"description": "Copy a file from the source store to the destination store.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(pipeline().parameters.SourceStore_Location,'/',item().name,'/New')",
											"type": "Expression"
										},
										"wildcardFileName": "*csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									},
									"recursive": false
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_DelimitedDataSource_Folder_FS",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@concat(pipeline().parameters.SourceStore_Location,'/',item().name,'/',pipeline().parameters.SourceStore_Directory,'/*')",
											"type": "Expression"
										},
										"srcHostName": {
											"value": "@pipeline().parameters.fileShareName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_DelimitedDataSource_Folder_Blob",
									"type": "DatasetReference",
									"parameters": {
										"fileSystem": {
											"value": "@pipeline().parameters.fileSystemName",
											"type": "Expression"
										},
										"folderPath": {
											"value": "@concat(pipeline().parameters.DestinationStore_Location,'/',item().name)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "FilterFolders",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFolderList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFolderList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(not(startswith(item().name,'~')),not(equals(item().name,'Test')))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceStore_Location": {
				"type": "String",
				"defaultValue": "Azure_Data_Factory"
			},
			"SourceStore_Directory": {
				"type": "String",
				"defaultValue": "New"
			},
			"DestinationStore_Location": {
				"type": "String",
				"defaultValue": "Azure_Data_Factory"
			},
			"DestinationStore_Directory": {
				"type": "String",
				"defaultValue": "Archive"
			},
			"fileSystemName": {
				"type": "string",
				"defaultValue": "power-bi-blob"
			},
			"fileShareName": {
				"type": "string",
				"defaultValue": "\\\\cdcfs1"
			}
		},
		"folder": {
			"name": "Util"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-04T15:44:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}