pipeline/UAT_DataverseStringmapToAzureSQL.json
{
	"name": "UAT_DataverseStringmapToAzureSQL",
	"properties": {
		"description": "Copy stringmap table form Dynamics CE to Azure SQL Table",
		"activities": [
			{
				"name": "Copy_vnj",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "stringmap"
					},
					{
						"name": "Destination",
						"value": "dbo.crm_stringmap"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DynamicsCrmSource"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"stringmapid"
							]
						},
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "attributename",
									"type": "String"
								},
								"sink": {
									"name": "attributename",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "attributevalue",
									"type": "Int32"
								},
								"sink": {
									"name": "attributevalue",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "displayorder",
									"type": "Int32"
								},
								"sink": {
									"name": "displayorder",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "langid",
									"type": "Int32"
								},
								"sink": {
									"name": "langid",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "objecttypecode",
									"type": "String"
								},
								"sink": {
									"name": "objecttypecode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "organizationid",
									"type": "Guid"
								},
								"sink": {
									"name": "organizationid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "stringmapid",
									"type": "Guid"
								},
								"sink": {
									"name": "stringmapid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String"
								},
								"sink": {
									"name": "value",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "versionnumber",
									"type": "Int64"
								},
								"sink": {
									"name": "versionnumber",
									"type": "Int64"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_UAT_DataverseStringmap",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_UAT_AzureSQLStringmap",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SendNotificationToTeamsChannel",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy_vnj",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SendNotificationToTeamsChannel",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"activityName": {
							"value": "@concat(pipeline().Pipeline,'-','Copy_vnj')",
							"type": "Expression"
						},
						"activityMessage": {
							"value": "@replace(activity('Copy_vnj').error.Message,'\"','')",
							"type": "Expression"
						},
						"activityDuration": {
							"value": "@activity('Copy_vnj').Duration",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Dataverse"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-15T16:20:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}